/*reset*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
html {
font-size : 62.5%;
scroll-behavior : smooth;

}
body {
font : 1.6rem sans-serif;
margin : 0;
line-height: 1.5;
background-color:#363E40;
}
* {
    box-sizing : border-box;
    }

 h1, h2, h3, h4, p,  ol, figure {
     margin : 0;
     padding : 0;
     list-style : none;
      }
h1,h2, h3,h4,h5,h6 {
font-family: 'Roboto', sans-serif;
font-weight : 200;
text-transform : capitalize;
}

section img {

    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
}

a {
    text-decoration : none;
    color : #222;
    }
/*theme*/

:root {
--color-primary : #000000;
--color-secondary : #ffffff;
--color-complementary : #504c4c;
--color-last : #D14600;
--color-header :#DFE6E9;
--color-text: rgb(2, 2, 2);
}
strong {
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;

    
}

header  {
    font-size: 12px;
    text-align: center;
     background-color: #DFE6E9;
     padding: 0 0 1rem;
     }
header img {
    height: 20px;
    width: 20px;
}
main nav {
    background-color:var(--color-secondary);
    padding: .1rem 0 0;
    text-align: center;
    font-size: medium;
    text-transform: uppercase;
}
nav ul li {
    display: inline-block;
    font-family: 'Roboto' sans-serif;
    justify-content: center;
    margin: 0 4rem 0;
    width:calc(100%/3 +0.6rem);
    text-align: center;

}

nav ul li img {
    margin:  0 0 -.6rem;
}
   
 
 figure {
    position:relative;
    background-color:var(--color-secondary);
     max-width: 80rem;
     height: 40rem;
       margin : 10rem auto 10rem auto ;
        border-radius: .6rem;
          display: flex;
        font-size: 14px;  
    }
  figure figcaption h2 {
         font-size: medium;
         margin: .8rem;
          }

figure figcaption p   {
    margin: .8rem;


}

figure button{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    line-height: 3.5rem;
    background-color:var(--color-last);
    color: #fff;
    padding: .5rem;
    border-radius: .8rem;
    width: 20rem;
    cursor: pointer;
    border:none;
   
   
}
span{
    padding: 0;
    margin: 0;
    
}

figure button img  {
    filter: invert(100%);
    display: inline-block;
    vertical-align: middle;
}
footer {
    text-align: center;
    background:var(--color-secondary);
    width: 100%;
    position: fixed;
    font-size: medium;
    padding: .5rem;
    position: fixed;
    bottom: 0rem;
    
    
}

/* responsive */
@media screen and (max-width: 60.0rem){
    body {
        background-color:#fff;
    }

    header{
        font-size: 2rem;
        text-align: center;
        
    }
    nav ul li {
        display: flex;
        margin: .8rem;
        justify-content: flex-start;

    
    }

    nav ul li img {
       margin: 0 0.8rem;
    }
     nav ul{
        margin: 0rem;
        padding: 0rem;
    } 

     figure {
        margin: 0 ;
        display: block;
        margin: 0rem 1rem;
      
 }

  figure img {
     max-width: 30rem;
     margin-left: 4rem;
 }
    figure figcaption h2 {
        padding-left: 2rem;
    }

    figure figcaption ol li {
    padding-left: 1;
    }
     figure button {
        
        position: inherit;
        margin: 0 auto;
        padding-top: 1rem;
        margin: 0 auto;
        display: block;
        
     }

    figure button img {
        margin-left: .8rem ;
        
    }
   
}
